#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.movies {
  padding: 2rem;
  background: #678983;
  border-radius: 10px;
  color: #333333;
}

.movie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
}

.column {
  background: #e6ddc4;
  font-weight: bold;
}

.column:not(:first-child) {
  border-left: 1px solid #678983;
}
